body {
    font-family:'Segoe Ui' ;
}


.container {
   
    padding: 0;
    margin: 0;
}


.links img {
    width: 120px;
    height: 30px;
    left: 0;
}

.likes {
    display: flex;
    align-items: center;
}

.ul_links {
    display: flex;
    list-style: none;
    position: sticky;
    height: 25px;
    justify-content: space-between;
 
    background-color: #fff;
}
.links {
    color: #1C1E21;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
    transition: .3s;
    cursor: pointer;
}

.links:hover {
    color: #007300;
    transition: .3s;
}

.paz svg {
    padding-right: 30px;
}

.paz svg:hover {
    filter: drop-shadow(0 0 3px rgba(100,0,0,0.5));
}

.green_object {
    width: 100%;
    background-color:#2e8555 ;
    text-align: center;
    margin: 0;
}

.cont2 {
    color:#fff;
    padding: 35px 0;
    
}

.hub {
    font-size: 48px;
    font-weight: bold;
    padding: 30px 0 0 0;
}

.welcome {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 0;
}

.btn {
    border: none;
    color: black;
    padding:8px 30px;
    border-radius:5px ;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 30px 0 ;
    transition: .3;
}

.btn:hover {
    opacity: .9;
    transition: .3;
}